.txt{
    float: right;
    color: white;
    width: 20%;
    height: 10%;
}
.sidebar
{
    height: 100%;
    width: 12%;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    padding-top: 7%;
    position: fixed;
}
.sesion{
    color: white;
}
button{
    background-color: black;
    border: 1px black;
    color: white;
    padding: 18% 15%;
    width: 100%;

    display: block;
}
a{
    text-decoration: none;
}
button:hover{
    background-color: grey;
}

.clear{
    clear: both;
}

.icono{
    height: 25px;
    width: 25px;
}
.texto{
    color: white;
}
.contenido{
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    margin-right: 30%;
}

.capitulos{
    width: 40%;
    height: 50%;
    text-align: left;
    display: block;
    margin-bottom: 1px;
    float: left;
    margin: 30px;

}
.img1{
    width: 325px;
    height: 200px;
}
.contenido2{
    margin-left: 15%;
    width: 70%;
}
.capitulos1{
    width: 40%;
    height: 50%;
    text-align: left;
    display: block;
    margin-bottom: 1px;
    float: left;
    margin: 30px;
}
p{
    color: white;
}
h1{
    color: white;
}
h2{
    color: white;
}
.busqueda{
    text-align: left;
    margin-left: 90%;
}
.busqueda1{
    background-color: black;
    color: white;
}