header{
    width: auto;
    height: 20%;
    background-color: black;
   
}
h1{
    font-size: 35px;
    font-family: 'Sunflower';
    color: rgb(208, 228, 255);
    font-style: italic;
}


th, td, h2, h3{
    font-size: 25px;
    font-family: 'Sunflower';
    color: rgb(255, 255, 255);
}

body{
    background-image: inherit;
    background-image: url("https://cdn.wallpapersafari.com/70/52/meNyph.jpg");  
    background-size: cover;
}

.fondoheader{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    left: 0;
    right: 0;
    background: #000000;
    z-index: 5;
}
.logotipo{
    padding: 10px;
    padding-left: 15px;
    padding-right:0px ;
    height: 70px;
    float: left;
    cursor: pointer;
}
/*   BODY       */   
form {
  max-width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
}

#subscribe{
  margin-bottom: 1rem;
}